#clockContainer{
    /* background-color: red; */
    height: 40vw;
    width: 40vw;
    /* height: 340vw;
    width: 340vw; */
    background: url("clock.png") no-repeat;
    background-size: 100%;
    border: 2px solid red;
    margin: auto;
    position: relative;
}
#hour, #minute, #second{
    position: absolute;
    /* background: red; */
    border-radius: 10px;
    /* opacity: 0.1; */
    background-color: black;
    transform-origin: bottom;
}
#hour{
    width: 2%;
    height: 25%;
    top: 25.1%;
    left: 49%;
    /* display: none; */
}
#minute{
    width: 1.5%;
    height: 30%;
    top: 20.1%;
    left: 49.25%;
    opacity: 0.7;
    /* display: none; */
}
#second{
    width: 1%;
    height: 35%;
    top: 15%;
    left: 49.5%;
    opacity: 0.4;
    /* display: none; */
}